.head {
	background-color : $true-white;
}

.underline-nav {
	ul {
	  list-style:none;
	  font-family:'Trebuchet MS';
	  font-size:17px;
	  text-align:center;
	}

	li {
	  position:relative;
	  display:inline;
	}

	li a {
	  text-decoration:none;
	  color:#333;
	  display:inline-block;
	  padding:10px;
	}

	span {
	  display:block;
	  width:calc(100% - 23px);
	  height:2px;
	  background: $true-white;
	  position:absolute;
	  left:10px;
	  bottom:-10px;
	}

	li a:hover {
	 	color:#0088CC;
	}

	li a:hover ~ span {
	 	 animation:ul 0.2s ease-out;
	   background:#333;
	}

	@keyframes ul {
	 	0% { 
	    width:0;
	  }
	  100% { 
	    width:calc(100% - 23px);
	  }
	}
	
	.nav-link{
		padding: 0;
	}
}

.jssearch-home{
	.form-control{
		padding: 30px;
	}

	.btn {
		padding: 30px;
	}
}
	