.head {
	background-color : $true-white;
}

.underline-nav {
	ul {
	  list-style:none;
	  font-family:'Trebuchet MS';
	  font-size:17px;
	  text-align:center;
	}

	li {
	  position:relative;
	  display:inline;
	}

	li a {
	  text-decoration:none;
	  color:#333;
	  display:inline-block;
	  padding:10px;
	}

	span {
	  display:block;
	  width:calc(100% - 23px);
	  height:2px;
	  background: $true-white;
	  position:absolute;
	  left:10px;
	  bottom:-10px;
	}

	li a:hover {
	 	color:#0088CC;
	}

	li a:hover ~ span {
	 	 animation:ul 0.2s ease-out;
	   background:#333;
	}

	@keyframes ul {
	 	0% { 
	    width:0;
	  }
	  100% { 
	    width:calc(100% - 23px);
	  }
	}
	
	.nav-link{
		padding: 0;
	}
}


.main-search {
  input, button, select{
    border-radius:0;
    height: 100px;
  }

   	@media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
    	button {
			width: 230px; 
		}
		input {
		  	width : 250px; 
		}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
    	button {
			width: 250px; 
		}
		input {
		  	width : 400px; 
		}
    }
  
}

.headline {
	margin-top: 150px; 
	margin-bottom: 100px;
	
	&-text {
	  font-family: 'Montserrat', sans-serif;
	  font-size: 90px;
	  font-weight: 900;
	  font-style: italic; 
	  margin: 20px 0;
	}
	&-description{
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;
	    font-style: normal;
	    font-size: 30px;
	    margin-bottom: 50px;
	}
}


.section-title {
	margin-top: 80px;
}